@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #FFF;
  }
  
.layout {
    max-width: 1316px;
    width: 91%;
    margin: 0 auto;
}
  
.header-landing {
    display: flex;
    align-items: center;
    background: #2196F3;
    height: 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

.nav__items {
    display: flex;
}

li {
    list-style: none;
}

.nav__items {
    padding: 0;
}

.nav__link {
    display: block;
    font-family: Roboto, 'sans-serif';
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding: 21px 24px;
    transition: all .3s;
}

.nav__link--active {
    background: #1E88E5;
    color: #FFF;
}

.nav__link:hover {
    background: #1E88E5;
    color: #FFF;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.24);
}

.nav__link:active {
    background: #0E78D5;
    color: #FFF;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.24);
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader--hidden {
    display: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
    margin-left: -15px;
    margin-right: -57px;
}

.gallery__item {
    position: relative;
    background: #FFF;
    width: 19%;
    height: 225px;
    cursor: pointer;
    transition: box-shadow .3s;
    margin-right: 5px;
}

.gallery__img {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 15px;
    object-fit: cover;
}

.gallery__item:hover {
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
    z-index: 1;
}

.gallery__img-heart {
    width: 40px;
    height: 36px;
    position: absolute;
    right: 19px;
    bottom: 24px;
    opacity: 0;
    transition: .3s;
    fill: none;
    stroke: #F24E1E;
    stroke-width: 5px;
}

.gallery__item:hover .gallery__img-heart {
    opacity: 1;
}

.gallery__img-heart:hover path,
.gallery__img-heart:active path {
    fill: #F24E1E;
}

.gallery__img-heart--liked {
    opacity: 0;
}

.gallery__img-heart--liked path {
    fill: #F24E1E;
}

.gallery__img-heart--liked:hover {
    opacity: 1;
}

.gallery__img-heart--liked:active path {
    fill: none;
    opacity: 1;
}

.more {
    align-self: center;
    width: 195px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: #000;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 31px;
    margin-bottom: 31px;
}

.more--hidden {
    display: none;
}